@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  background-image: url('res/matrix.gif');
  text-align: center;
  margin: 0px;
  padding: none;
  background-size: cover;
  font-family: Roboto;
}
.main {
  background: rgba(255, 255, 255, 0.7);
  margin: 5%;
  padding: 2%;
  border: 3px solid white;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 15%;
  top: 0%;
  left: 0%;
  right: 0%;
  border-radius: 15px;
}
#title {
  font-family: Roboto;
}

/* Form */
input {
  border: #222222;
  border-radius: 10px;
  width: 30%;
  font-size: 130%;
  background-color: #ffffff;
  color: #222222;
  padding: 1%;
  transition: all 0.3s ease;
}
input:focus {
  background-color: #222222;
  color: white;
  border: none;
  outline: none;
}
button {
  background-color : #222222;
  color: white;
  width: 5%;
  font-size: 130%;
  border: none;
  border-radius: 10px;
  padding: 1%;
  transition: all 0.3s ease;
  font-family: Roboto;
}
button:hover {
  transform: scale(1.1);
}

/* Footer */
.linkToWebsite {
  color: grey;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
  font-family: Roboto;
  font-size: 18px;
  text-decoration: none;
  margin: 5%;
  transition: all 0.3s ease;
}
.linkToWebsite:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(19, 19, 19);
}
footer {
  background: rgba(70, 70, 70, 1);
  margin: 0;
  padding: 20px;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color : white;
}
