@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #222222;
    color: #fff;
    font-family: Roboto, serif;
}

.TopNavbar {
    position: fixed;
    background-color: #fff;
    padding: 1%;
    padding-left: 5%;
    left: 0;
    top: 0;
    right: 0;
}
.itemTopNavbar {
    color: #222222;
    font-size: 150%;
    text-decoration: none;
}
.itemTopNavbar:hover {
    text-decoration: underline;
}

.titleAbouteMe {
    margin-top: 10%;
    text-align: center;
    font-size: 300%;
    font-weight: 500;
}

.linkAnonymousPage {
    margin: 10%;
    font-size: 150%;
    color: #fff;
    background-color : #692929bf;
    border: none;
    border-radius: 10px;
    padding: 1%;
    font-family: Roboto, serif;
    justify-content: center;
    transition: all 0.3s ease;
    display: flex;
}

.DLink {
  margin: 10%;
  background-color : #692929bf;
  color: white;
  width: 80%;
  font-size: 130%;
  border: none;
  border-radius: 10px;
  padding: 1%;
  transition: all 0.3s ease;
  font-family: Roboto, serif;
  display: flex;
  justify-content: center;
}
