@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  background-image: url('res/matrix.gif');
  text-align: center;
  margin: 0px;
  padding: none;
  background-size: cover;
  font-family: Roboto, serif;
}
.main {
  background: rgba(255, 255, 255, 0.7);
  margin: 5%;
  padding: 2%;
  border: 3px solid white;
  font-family: Roboto, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 15%;
  top: 10%;
  left: 0%;
  right: 0%;
  border-radius: 15px;
}
#title {
  font-family: Roboto, serif;
}

/* Form */
#formInput {
  margin: 0 10% 0 30%;
  display: grid;
  grid-template-columns: 60% 10% ;
}
input {
  margin: 0 0 0 0;
  border: #222222;
  border-radius: 10px;
  width: 100%;
  font-size: 150%;
  background-color: #ffffff;
  color: #222222;
  padding: 2%;
  transition: all 0.3s ease;
}
input:focus {
  background-color: #222222;
  color: white;
  border: none;
  outline: none;
}
button {
  margin: 0 10% 0 35%;
  background-color : #222222;
  color: white;
  width: 80%;
  font-size: 130%;
  border: none;
  border-radius: 10px;
  padding: 1%;
  transition: all 0.3s ease;
  font-family: Roboto, serif;
}
button:hover {
  transform: scale(1.1);
}

/* Footer */
.linkToWebsite {
  color: grey;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
  font-family: Roboto, serif;
  font-size: 18px;
  text-decoration: none;
  margin: 5%;
  transition: all 0.3s ease;
}
.linkToWebsite:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(19, 19, 19);
}
footer {
  background: rgba(70, 70, 70, 1);
  margin: 0;
  padding: 20px;
  font-family: Roboto, serif;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color : white;
}
ul {
  text-align: justify;
}

.TopNavbar {
  position: fixed;
  background-color: #fff;
  padding: 1.5% 1% 1% 5%;
  left: 0;
  top: 0;
  right: 0;
}
.itemTopNavbar {
  color: #222222;
  font-size: 150%;
  text-decoration: none;
}
.itemTopNavbar:hover {
  text-decoration: underline;
}
/* Responsive */
@media screen and (max-width: 768px) {
  body {
    background-color: #222222;
    background-image: none;
    text-align: center;
    margin: 0px;
    padding: none;
    font-family: Roboto, serif;
  }
  .main {
    background: dimgray;
    padding: 2%;
    margin: 0;
    color: white;
    border: 3px solid white;
    font-family: Roboto, serif;
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    top: 3%;
    left: 3%;
    right: 3%;
    border-radius: 15px;
  }
  #formInput {
    margin: 0 auto 0;
    display: grid;
    grid-template-columns: auto;
  }
  input {
    margin: 0 auto 10px;
    width: 90%;
    font-size: 160%;
  }
  button {
    width: 30%;
    margin: 0 auto 0;
    font-size: 180%;
  }
}